body {
    background-image: radial-gradient(circle, rgb(47, 47, 52), rgb(16, 16, 19));
    background-position: center;
    background-size: stretch;
    background-repeat: no-repeat;
    height: 97vh;
    overflow: hidden;
    color: white;
    margin: 0;
    padding: 0;
    font-family:'Rubik';
    user-select: none;
}

#currentScore {
    color: white;
    opacity: 5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50vmin;
}

#stats {
    position: absolute;
    padding-left: 1vmin;
    color: white;
    padding-top: 1vmin;
    font-size: 2vmin;
    opacity: 50%;
    pointer-events: none;
}



#missedClickDetector {
    position: absolute;
    height: 100%;
    width: 100%;
}

#githubLink {
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    font-size: 2vmin;
    text-decoration: none;
    padding: .5vmin;
    opacity: 20%;
}

footer {
    background-color: rgb(21, 21, 21);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > a {
    text-decoration: none;
    color: white;
    padding: 1vmin;
}

.goodKitty {
    position: absolute;
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
}

.badKitty {
    position: absolute;
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
    box-shadow: 0px 0px 3vmin 0px rgba(255,0,0,0.55);
    z-index: 20;
}

.hungryKitty {
    position: absolute;
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
    box-shadow: 0px 0px 8vmin 5vmin rgba(255, 210, 0, 0.40);
    z-index: 20;
}

@keyframes opacityDrop {
    from {opacity: 25%;}
    to {opacity: 0%;}
};